  body
    {
    	background-size: 1920px;
    	background-attachment: fixed;

    }
	ul
{ 
    list-style: none;
    display:block;
    position: absolute;
    width: 1900px;
    opacity: 0.6;
    height: 50px;
    margin: 0px;
    padding: 0px;
}
.nag{
    background-color: black;
}
.hello
{
    top: 20%;
    position: relative;
    display: inline-block;
    width: 230px;
    text-align: center;
    float: right;
    
    
}
li a {
    text-decoration: none;
    color: white;
}  
main{
    padding: 0px;
    margin: 0px;
    background-image: url(../img/anna-stampfli-1392889-unsplash.jpg);
    width: 1900px;
    height: 700px;
}
h1{
    position: relative;
    top: 30%;
    text-align: center;
}
p{
    position: relative;
    text-align: center;
    top: 32%;
}
#me{
    position: absolute;
    text-align: center;
    left: 48%;
    top: 40%;
    border: 1px solid;
    padding: 15px;
}
.ehe
{ top: 20%;
    position: relative;
    display: inline-block;
    width: 230px;
    text-align: center;
    float: center;
    left: 33%;
}

