
    /*.body
    {
    	background-image: url("../img/Sea.jpg");
    	background-size: 1920px;
    	background-attachment: fixed;

    }
	p
    {
		font-family: tahoma;
		color: black;
	}
		h2
		{
			font-size: 30px
			text-shadow:3px 2px green;
			letter-spacing: 2px;

		}	
	.Helloclass
	{
		color: maroon;
		font-family: impact;
		font-size: 30px

	}	
	.border
	{   padding: 4px;
		border: solid orange 5px;
		background: Green;
		margin-left: 10px;
		margin-right: 10px;
		outline: groove black 2px;
	}
	.table
	{
		color: white;
		border:groove green 5px;
		text-decoration: none;

		
	}
	.td
	{
		color: White;
		/*background-color: Green;*/
	}
	table a{
		border-left: solid 2px red; 
		text-decoration: none;
	}
	/*p.demo
	{
		text-align: center;
		background-color: blue;
	}
    body> div > p
    {
    	color: black;
    	font-family: tohama;
    }
    p.demo + p
    {
    	background-color: green;
    }
    p[class]
    {
    	text-align: right;
    }
    p[class^="d"]
    {
    	text-align: center;
    	background-color: green;*/
    }
    p[class$="d"]
    {
    	background-color: blue;
    }
    div p:nth-child(even)
    {
    	background-color: yellow;
    	max-width: 500px;
    }
    p:hover
    {
    	background-color: purple;
    }
    .ad
    {
    	text-transform: capitalize;

    }
    .body
    {
        font-family: tohama;

    }
    .1
    {
    	background-color: green;
    	position: relative;
    	top: 30px;
    	right: 20;
    }
    .2
    {
        background-color: black; 
    }
    .3
    {
    	background-color: blue;
    }
	</style>
</head>